* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

*:where(:not(html,iframe,canvas,img,svg,video):not(svg *,symbol *)) {
    all: unset;
    display: revert
}

*,*:before,*:after {
    box-sizing: border-box
}

a,button {
    cursor: revert
}

ol,ul,menu {
    list-style: none
}

img,svg {
    max-width: 100%;
    display: block
}

table {
    border-collapse: collapse
}

textarea {
    white-space: revert
}

meter {
    -webkit-appearance: revert;
    -moz-appearance: revert;
    appearance: revert
}

strong {
    font-weight: bold
}

::placeholder {
    color: unset
}

:where([hidden]) {
    display: none
}

:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space
}

:where([draggable=true]) {
    -webkit-user-drag: element
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th,td {
    text-align: left;
    padding: 8px;
    border: 1px solid var(--color-primary);
}

tr:nth-child(even) {
    background-color: #f9f9f9
}

