---

---

<table class="nutricional-table">
    <thead>
        <tr class="title">
            <th colspan="3">Tabla de Información Nutricional</th>
        </tr>

        <tr>
            <th colspan="2">Peso Neto</th>
            <th colspan="1">250g</th>
        </tr>

        <tr>
            <th colspan="2">Porciones por envase</th>
            <th colspan="1">5</th>
        </tr>

        <tr>
            <th colspan="2">%Porcion Recomendada</th>
            <th colspan="1">100g</th>
        </tr>

        <tr class="subtitle">
            <th>Detalle</th>
            <th>100g</th>
            <th>1 porción</th>
        </tr>
    </thead>

    <tbody>
        <tr class="row">
            <td>Energía (kcal)</td>
            <td>398</td>
            <td>119</td>
        </tr>
        <tr class="row">
            <td>Proteínas (g)</td>
            <td>7,0</td>
            <td>2,1</td>
        </tr>
        <tr class="row">
            <td>Grasa Total (g)</td>
            <td>5,9</td>
            <td>1,8</td>
        </tr>
        <tr class="row">
            <td>Colesterol (mg)</td>
            <td>398</td>
            <td>119</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">*Valores diarios de referencia basados en una dieta de 2000 kcal o 8400 kJ. Sus valores diarios pueden ser mayores o menores dependiendo de sus necesidades energéticas.</td>
        </tr>
    </tfoot>
</table>

<style>
    .nutricional-table {
        width: 100%;
        border-collapse: collapse;
        font-family: var(--font-body);
        margin: 20px 0;
        box-shadow: var(--color-shadow);
        border: 4px solid var(--color-primary);
    }

    .nutricional-table th,
    .nutricional-table td {
        border: 1px solid var(--color-primary);
        padding: 12px;
        text-align: left;
    }

    .nutricional-table thead th {
        font-size: .8rem;
        font-weight: bold;
        padding: .2rem 1rem;
        color: var(--color-dark);
        border: none;
        background-color: var(--color-background);

    }

    .nutricional-table thead .title th {
        background-color: var(--color-primary);
        color: var(--color-light);
        font-size: 1rem;
        font-weight: bold;
        padding: 16px;
        text-align: center;
    }

    .nutricional-table thead .subtitle th {
        background-color: var(--color-primary);
        color: var(--color-light);
        font-weight: 400;
        text-align: center;
    }

    .nutricional-table tbody .row:nth-child(even) {
        background-color: var(--color-background);
    }

    .nutricional-table tbody tr td {
        font-size: 0.9rem;
        color: var(--color-dark);
        padding: .5rem 1rem;
        text-align: center;
    }

    .nutricional-table tbody tr td:first-child {
        text-align: left;
        font-weight: 600;
    }

    .nutricional-table tfoot td {
        font-size: 0.8rem;
        color: var(--color-dark-grey);
        text-align: left;
        padding: 10px;
    }
</style>