---

---

<footer id="footer">
    <div class="wrapper main-wrapper flex-column">
        <div class="links">
            <div class="column">
                <div class="brand">
                    <img src="https://1000marcas.net/wp-content/uploads/2021/04/Costa-Coffee-Logo.png" alt="">
                </div>

                <p class="manifest">
                    Lorem ipsum, dolor sit adipisicing elit. Eius, nihil amet. Necessitatibus.
                </p>
    
                <ul class="rrss">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16"><path fill="currentColor" d="M8 5.67C6.71 5.67 5.67 6.72 5.67 8S6.72 10.33 8 10.33 10.33 9.28 10.33 8 9.28 5.67 8 5.67M15 8c0-.97 0-1.92-.05-2.89-.05-1.12-.31-2.12-1.13-2.93-.82-.82-1.81-1.08-2.93-1.13C9.92 1 8.97 1 8 1s-1.92 0-2.89.05c-1.12.05-2.12.31-2.93 1.13C1.36 3 1.1 3.99 1.05 5.11 1 6.08 1 7.03 1 8s0 1.92.05 2.89c.05 1.12.31 2.12 1.13 2.93.82.82 1.81 1.08 2.93 1.13C6.08 15 7.03 15 8 15s1.92 0 2.89-.05c1.12-.05 2.12-.31 2.93-1.13.82-.82 1.08-1.81 1.13-2.93.06-.96.05-1.92.05-2.89m-7 3.59c-1.99 0-3.59-1.6-3.59-3.59S6.01 4.41 8 4.41s3.59 1.6 3.59 3.59-1.6 3.59-3.59 3.59m3.74-6.49c-.46 0-.84-.37-.84-.84s.37-.84.84-.84.84.37.84.84a.8.8 0 0 1-.24.59.8.8 0 0 1-.59.24Z"/></svg>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M18 2a1 1 0 0 1 .993.883L19 3v4a1 1 0 0 1-.883.993L18 8h-3v1h3a1 1 0 0 1 .991 1.131l-.02.112-1 4a1 1 0 0 1-.858.75L17 15h-2v6a1 1 0 0 1-.883.993L14 22h-4a1 1 0 0 1-.993-.883L9 21v-6H7a1 1 0 0 1-.993-.883L6 14v-4a1 1 0 0 1 .883-.993L7 9h2V8a6 6 0 0 1 5.775-5.996L15 2z"/></svg>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M8.267 3a1 1 0 0 1 .73.317l.076.092 4.274 5.828 5.946-5.944a1 1 0 0 1 1.497 1.32l-.083.094-6.163 6.162 6.262 8.54a1 1 0 0 1-.697 1.585L20 21h-4.267a1 1 0 0 1-.73-.317l-.076-.092-4.276-5.829-5.944 5.945a1 1 0 0 1-1.497-1.32l.083-.094 6.161-6.163-6.26-8.539a1 1 0 0 1 .697-1.585L4 3z"/></svg>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M16.083 2H12a1 1 0 0 0-1 1v11.5a1.5 1.5 0 1 1-2.519-1.1l.12-.1A1 1 0 0 0 9 12.5V8.174A1 1 0 0 0 7.77 7.2 7.5 7.5 0 0 0 9.5 22l.243-.005A7.5 7.5 0 0 0 17 14.5v-2.7l.311.153c1.122.53 2.333.868 3.59.993A1 1 0 0 0 22 11.95V7.917a1 1 0 0 0-.834-.986 5.005 5.005 0 0 1-4.097-4.096A1 1 0 0 0 16.083 2"/></svg>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H6a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5zM9 9v6a1 1 0 0 0 1.514.857l5-3a1 1 0 0 0 0-1.714l-5-3A1 1 0 0 0 9 9"/></svg>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M5.315 2.1c.791-.113 1.9.145 3.333.966l.272.161.16.1.397-.083a13.3 13.3 0 0 1 4.59-.08l.456.08.396.083.161-.1c1.385-.84 2.487-1.17 3.322-1.148l.164.008.147.017.076.014.05.011.144.047a1 1 0 0 1 .53.514 5.2 5.2 0 0 1 .397 2.91l-.047.267-.046.196.123.163c.574.795.93 1.728 1.03 2.707l.023.295L21 9.5c0 3.855-1.659 5.883-4.644 6.68l-.245.061-.132.029.014.161.008.157.004.365-.002.213L16 21a1 1 0 0 1-.883.993L15 22H9a1 1 0 0 1-.993-.883L8 21v-.734c-1.818.26-3.03-.424-4.11-1.878l-.535-.766c-.28-.396-.455-.579-.589-.644l-.048-.019a1 1 0 0 1 .564-1.918c.642.188 1.074.568 1.57 1.239l.538.769c.76 1.079 1.36 1.459 2.609 1.191L8 17.562l-.018-.168a5 5 0 0 1-.021-.824l.017-.185.019-.12-.108-.024c-2.976-.71-4.703-2.573-4.875-6.139l-.01-.31L3 9.5a5.6 5.6 0 0 1 .908-3.051l.152-.222.122-.163-.045-.196a5.2 5.2 0 0 1 .145-2.642l.1-.282.106-.253a1 1 0 0 1 .529-.514l.144-.047z"/></svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <h3>Contacto</h3>
    
                <ul class="contact">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203.21-4.243 4.242a3 3 0 0 1-4.097.135l-.144-.135-4.244-4.243A9 9 0 0 1 18.364 4.636M12 8a3 3 0 1 0 0 6 3 3 0 0 0 0-6"/></svg>
                            Av. Siempre Viva 123, Springfield
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><g fill="currentColor"><path d="M22 7.535V17a3 3 0 0 1-2.824 2.995L19 20H5a3 3 0 0 1-2.995-2.824L2 17V7.535l9.445 6.297.116.066a1 1 0 0 0 .878 0l.116-.066z"/><path d="M19 4c1.08 0 2.027.57 2.555 1.427L12 11.797l-9.555-6.37a3 3 0 0 1 2.354-1.42L5 4z"/></g></svg>
                            Nombre@servidor.cl
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M9 3a1 1 0 0 1 .877.519l.051.11 2 5a1 1 0 0 1-.313 1.16l-.1.068-1.674 1.004.063.103a10 10 0 0 0 3.132 3.132l.102.062 1.005-1.672a1 1 0 0 1 1.113-.453l.115.039 5 2a1 1 0 0 1 .622.807L21 15v4c0 1.657-1.343 3-3.06 2.998C9.361 21.477 2.522 14.638 2 6a3 3 0 0 1 2.824-2.995L5 3z"/></svg>
                            (+56) 9 3116-5405
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M17 3.34a10 10 0 1 1-14.995 8.984L2 12l.005-.324A10 10 0 0 1 17 3.34M12 6a1 1 0 0 0-.993.883L11 7v5l.009.131a1 1 0 0 0 .197.477l.087.1 3 3 .094.082a1 1 0 0 0 1.226 0l.094-.083.083-.094a1 1 0 0 0 0-1.226l-.083-.094L13 11.585V7l-.007-.117A1 1 0 0 0 12 6"/></svg>
                            Lunes a viernes 9:00 - 18:00
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M18.497 4.409a10 10 0 0 1-10.36 16.828l-.223-.098-4.759.849-.11.011a1 1 0 0 1-.11 0l-.102-.013-.108-.024-.105-.037-.099-.047-.093-.058-.014-.011-.012-.007-.086-.073-.077-.08-.067-.088-.056-.094-.034-.07-.04-.108-.028-.128-.012-.102a1 1 0 0 1 0-.125l.012-.1.024-.11.045-.122 1.433-3.304-.009-.014A10 10 0 0 1 5.056 4.83l.215-.203a10 10 0 0 1 13.226-.217M9.5 7.5A1.5 1.5 0 0 0 8 9v1a6 6 0 0 0 6 6h1a1.5 1.5 0 0 0 0-3h-1l-.144.007a1.5 1.5 0 0 0-1.128.697l-.042.074-.022-.007a4.01 4.01 0 0 1-2.435-2.435l-.008-.023.075-.041A1.5 1.5 0 0 0 11 10V9a1.5 1.5 0 0 0-1.5-1.5"/></svg>
                            (+56) 9 3116-5405
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <h3>Links</h3>
    
                <ul>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Venta Mayoristas</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Politica de Reeembolsos</a></li>
                </ul>
            </div>

            <div class="column">
                <h3>Newsletter</h3>
    
                <p>Suscribete a nuestro boletin mensual para obtener informacion de nuestros productos</p>

                <form class="newsletter-form" action="post">
                    <input class="input" type="text" name="" id="">
                    <button type="submit">Subscribe</button>
                </form>

                <p>Revisa nuestros Terminos y Condiciones aqui</p>
            </div>
        </div>

        <div class="legal">
            <div class="copyright">
                <span>&copy; 2024 Company Name.</span> Todos los derechos reservados.
            </div>

            <div class="sac">
                <a href="#">Política de privacidad</a> | <a href="#">Términos y condiciones</a>
            </div>
        </div>
    </div>
</footer>

<style>
    #footer {
        width: 100%;
        background-color: var(--color-primary);
        font-family: var(--font-body);
    }

    .links {
        width: 100%;
        padding: 4rem 0;
        border-bottom: 1px solid white;

        display: flex;
        justify-content: space-between;
        gap: var(--gap-medium);
    }

    .links .column {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
    }

    .links .column h3 {
        color: var(--color-light);
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .links .column p {
        font-size: .8rem;
        color: var(--color-light);
        margin-bottom: 1rem;
    }

    .links .column p.manifest {
        width: 30ch;
    }

    .links .column ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
        padding: 0;
        margin: 0;
    }

    .links .column ul li a {
        text-decoration: none;
        color: var(--color-light);
        font-size: 1rem;
    }

    .links .column .brand {
        margin-bottom: 1rem;
    }

    .links .column .brand img {
        width: 150px;
        height: auto;
        object-fit: contain;
    }

    .links .column .rrss {
        flex-direction: row;
    }

    .links .column .rrss li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-light);
        transform: scale(1);
        transition: var(--transition);
    }

    .links .column .rrss li a:hover {
        scale: 1.08;
    }

    .links .column .rrss li a svg {
        width: 24px;
        height: 24px;
        color: var(--color-primary);
    }

    .links .column .contact li a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .links .column .contact li a svg {
        width: 16px;
        height: 16px;
        margin-right: .5rem;
        color: var(--color-light);
    }

    .links .column .newsletter-form {
        display: flex;
        flex-direction: row;
    }

    .links .column .newsletter-form .input {
        flex: 1;
        padding: .8rem 1rem;
        background-color: var(--color-light);
        border-radius: 3rem 0 0 3rem;
        font-size: 1rem;
    }

    .links .column .newsletter-form button {
        padding: .8rem 1rem;
        border: none;
        border-radius: 0 3rem 3rem 0;
        background-color: var(--color-dark);
        color: var(--color-light);
        font-size: .8rem;
        cursor: pointer;
        text-transform: uppercase;
        transition: var(--transition);
    }

    .legal {
        width: 100%;
        padding: 2rem 0;
        color: var(--color-light);
        font-size: .8rem;

        display: flex;
        justify-content: space-between;
    }

    .legal .copyright {
        flex: 1;
    }

    .legal .copyright span {
        font-weight: 700;
    }

    .legal .sac {
        flex: 2;
        text-align: right;
    }

    .legal .sac a {
        text-decoration: none;
        color: var(--color-light);
    }

    .legal .sac a:hover {
        text-decoration: underline;
    }
</style>