---
import Heading from '../components/Heading.astro';
import Steps from '../components/Steps.astro';
---

<section id="instrucciones">
    <Heading
		overline="Platos listos enn"
		headline="8 minutos"
		subline="ni más, ni menos"
	/>

    <Steps>

    </Steps>
</section>

