---
import Heading from '../components/Heading.astro';
import ProductsSlider from '../components/ProductsSlider.astro';
---

<section id="productos">

    
    <Heading
		overline="De norte a sur"
		headline="Directo"
		subline="a tu mesa"
		body="El acto de cocinar al vacío no solo preserva los jugos, aromas y texturas: también captura momentos, memorias y tradiciones. Cada plato se convierte en un viaje por Chile, desde las costas del norte hasta los bosques del sur, llevando intacto el sabor auténtico de nuestras recetas."
	/>

    <ProductsSlider />

</section>