---
import TestimonialsSlider from '../components/TestimonialsSlider.astro';
import MarqueeV1 from '../components/MarqueeV1.astro';
import ImageCompare from '../components/ImageCompare.astro';
---

<section id="resenas">
    <MarqueeV1 text='Reseñas' bgColor='var(--color-primary)' />

    <div class="main-wrapper">
        <TestimonialsSlider />

        <ImageCompare />
    </div>
</section>