---
import "../styles/reset.css";
import "../styles/styles.css";
import "../styles/fonts.css";
import HeaderMenu from "../components/HeaderMenu.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Norte a sur al vacio</title>
	</head>
	<body>
        <HeaderMenu />
        
		<slot />

        <div class="paperOverlay"></div>

        <script>
            import AOS from 'aos';
            import 'aos/dist/aos.css';
            
            AOS.init({
              duration: 800,
              easing: 'ease-out-cubic'
            });
        </script>
	</body>
</html>

<style is:global>
	:root {
    --color-primary: #513824;
    --color-primary-light: rgba(81, 56, 36, 0.05);
    --color-primary-dark: #103056;
    --color-secondary: #4caf50;
    --color-secondary-light: #b9febc;
    --color-secondary-dark: #175119;
    --color-background: #f2f2f2;

    --color-alert: #CC8907;
    --color-success: #375718;
    --color-error: #DE5822;

    --color-dark: #000;
    --color-light: #fff;
    --color-dark-grey: #666;
    --color-light-grey: #cbcbcb;

    --color-text: #9f9f9f;
    --color-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --color-overlay: rgba(0, 0, 0, .2);

    --font-body: 'Montserrat', sans-serif;
    --font-headline: "MATROSKA", sans-serif;
    --font-special: "Quentin", sans-serif;
    --font-monospace: "Courier New", monospace;

    --font-size-base: 16px;
    --font-size-large: 1.25rem;
    --font-size-small: .875rem;

    --border-radius: 10px;
    --rounded: 50%;

    --main-wrapper-xlarge: 1400px;
    --main-wrapper-large: 1200px;
    --main-wrapper-medium: 1024px;
    --main-wrapper-small: 768px;

    --gap-small: .5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-xlarge: 3rem;

    --transition: all .3s ease-in-out;
	
    --loader-layer: 99999;
    --modal-layer: 9999;
    --menu-layer: 999;
    --deco-layer: 99;
    --text-layer: 9;
    --base-layer: 1;
    --bg-layer: -1
}

html {
    scroll-behavior: smooth
}

body {
    width: 100%;
    height: auto;
    background-color: var(--color-background);
    font-family: var(--font-body),sans-serif;
    position: relative;
    z-index: var(--base-layer);
}

.paperOverlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: repeat;
        background-image: url('/assets/textures/noisy-texture-2.png');
        mix-blend-mode: multiply;
        pointer-events: none;
    }
</style>
